<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/logsdadin**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/templdsadate1**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<form-login 
		    login-page="/login2" 
		    default-target-url="/home2/index2" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout" />
		
	</http>

	<!-- Password Authentication -->
	<beans:bean id="customAuthentication" class="com.bus.cap.util.CustomAuthentication"/>	
	<authentication-manager>
		<authentication-provider ref="customAuthentication"/>
		<!-- <authentication-provider>
			<user-service>
				<user name="sysadmin" password="1234" authorities="ROLE_USER" />
			</user-service>
		</authentication-provider> -->
	</authentication-manager>

</beans:beans>